
#Lektion nr1

# Print(x) = Genom att använda detta syntax säger man att ett visst svar, ord eller fråga.

# Det går att likställa ett föremål eller sak med ett värde, 1 hundralapp = 100.


# Variablar 

#förnamn = "1"
#efternamn = "2"
#hela_namnet = förnamn +" "+ efternamn
#print("Hello " + hela_namnet)
#str = string

#Age = 22
#Age = Age + 1
#print("Your age is: "+str(Age))
#print(type(Age))
#'Int'

#Höjd = 182.5
#print("Din höjd är: "+str(Höjd)+ "cm")
#print(type(Höjd))

#Boolean datatyp(bool) = besvarar sant eller falskt
# Kan vara bra i "If" statements.

Human = True
print("Är du en människa? "+ str (Human)+ ",I am")
#print(type(Human)) = bool


#Lektion nr2 

# Flera uppdrag = Genom att skriva syntax på detta vis går det att skriva svar på flera frågor på endast en rad av kod
# namn = "Moe"
# ålder = 420
# Sussin = True

namn, ålder, sussin = "Moe.von.lawn", 21, True

print(namn)
print(ålder)
print(sussin)

# Exempel 2
# Likställa värden = Genom att använda likamedtecken "=" kan vi samla data mer effektivt

# Tobias = 30
# Dogge = 30
# Patrik = 30

Tobias = Dogge = Patrik = 30

print(Tobias)+ ("år")
print(Dogge)
print(Patrik)


