 #Lektion 1

# Print(x) = Genom att använda detta syntax säger man att ett visst svar, ord eller fråga ska skrivas av koden.
# Det går att likställa ett föremål eller sak med ett värde, 1 hundralapp = 100. På sätt skrivs variabler skrivas.


# Vi kan börja med att definera två olika variabler.
# Genom att skriva citattecken("") före och efter varibeln defineras dem som en string(str).
förnamn = "Moe"
efternamn = "Szyslak"

# Det går att sätta ihop två variabler för att skapa en enda.
# Genom att skriva " +" "+ " kommer ett mellanrum bildas mellan för och efternamnet.
hela_namnet = förnamn +" "+ efternamn
print("Hello " + hela_namnet)

# Efter som att det inte står några citattecken runt "22" och den inte innhåller några decimaler är detta en integer(int/heltal).
# Man kan bland annat göra mattematiska uträckningar med dessa.
ålder = 22
ålder = ålder + 1

# Det går att skriva om en interger(heltal) till en string(str). 
 #str(ålder) --> integer(heltal) till string.
print("Your age is: "+str(ålder))
print(type(ålder))

# Denna variabel är ett tal som även innehåller en decimal.
# Detta kallas för en float(flyttal).
höjd = 182.5

# Det går att skriva om floats(flyttal) till strings(str). 
 #str(höjd) --> float(flyttal) till string.
print("Din höjd är: "+str(höjd)+ "cm")
print(type(Höjd))

# Boolean datatyp(bool) = besvarar om ett påstående är sant eller falskt.
# Först skrivs 
människa = True
print("Är du en människa? "+ str (människa)+"!")



#Lektion 2 

# Flera uppdrag = Genom att skriva syntax på detta vis går det att skriva svar på flera frågor på endast en rad av kod.
namn = "Moe"
ålder = 420
Sus = True

namn, ålder, sus = "Moe.von.lawn", 21, True

# Det går på samma vis att "printa" flera varablar på endast en rad.
print(namn
print(ålder)
print(sus)

print(namn, ålder, sus)

# Exempel 2

# Likställa värden = Genom att använda likamedtecken "=" kan vi samla data mer effektivt
# Eftersom att dessa tre variabler har samma värde kan man helt enkelt likställa dessa.
Tobias = 30
Dogge = 30
Patrik = 30

Tobias = Dogge = Patrik = 30

# Det går sedan att printa värdet av varje variabel.
print(Tobias)
print(Dogge) 
print(Patrik)

print(Tobias, Dogge, Patrik)
